/venv/
/results/   
/task1/results/
/task2_variant1_opponent_modelling/results/
/task2_variant3_sparse_reward/results/
/task2_variant6_generative_ai/results/
/task2_variant7_reinforcement_learning/results/
pycache/
__pycache__/
.pytest_cache/
.DS_Store
.vscode/
.idea/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local